body{
  width: 70%;
  margin: auto;
}

.navbar{
  background-color: green;
}

.logo{
  width: 15%;
}

img{
  width: 50px;
}

.redes_sociales{
  text-align: right;
}

.cuerpo{
  background-color: red;
}


.contenido{
  background-color: yellow;
}
