.blog{
  background-color: #535353;
}
body{
  width: 80%;
  margin-left:auto ;
  margin-right: auto;
}
.navbar{
  background-color: white;

}
.navbar2{
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.logo{
  width: 180px;
}
.iconos-sociales{
  width: 50px;
}
.comentario_icono{
  width: 90%;
}
.redes_sociales{
  text-align: right;
}
.cuerpo{
  padding: 10px;
  margin-top: 10px;
}
.contenido{
  background-color: yellow;
}
.articulos, .contenedor{
  background-color: #3e3667;
  color: white;
  border: 2px solid black;
  padding: 30px;
}
.menu-lateral{
  padding-left: 3%;
  padding-right: 2%;
}
.icono{
  width: 20px !important;
}
.active{
  background-color: #88d317 !important;
}
.foto_articulo{
  border: 6px solid #88d317;
  width: 95%;
  vertical-align: middle;
}
hr{
  border: 2px solid white;
}

@media(max-width:600px){
  body{
    width: 100%;
  }
  .comentario_icono{
    width: 80px;
  }
}
